bctables.c
canonluj.inc
cmafihe
cm_scan.c
dfasyn/dfasyn
dfasyn/parse.tab.c
dfasyn/parse.tab.h
dfasyn/scan.c
dictdata.c
elitabs.c
gismu_cmavo.dict
jbofihe
jvocuhadjhu
jvocuhadju
Makefile
morf_dfa.c
morf_enc.c
morf_enc.err
morf_lex.c
morf_lex.err
morfvlex.c
nonterm.c
nonterm.h
*.o
*.output
rpc2x_act.y
rpc2x_act.tab.*
rpc2x_full_*.y
rpc2x_nc.y
rpc_full.c
rpc_full.c
rpc_tab.*
smujajgau
stag_dfa.c
stag_dfa.c
*.tab.c
trcftabs.c
trcftabs.c
trctabs.c
trctabs.c
uncom
uncom.c
uncom.c
version.h
version.h
vlatai
